<section class="section-about">
            
        <div class="section-about__text">
            <h2 class="heading-secondary"> 
                Who are we 
            </h2>
        </div>
        
        <div class="section-about__left">
            <h3 class="heading-tertiary u-margin-bottom-2"> 
                our vision 
            </h3>
            <p class="paragraph"> 
                To be a global role model to provide everyone high quality natural products. 
            </p>
            <h3 class="heading-tertiary u-margin-bottom-2"> 
                our mission 
            </h3>
            <p class="paragraph"> 
                To provide the best quality products that have been cultivated and produced in accordance with international quality standards that guarantee the preservation of the quality and flavor of herbs of all kinds from internationally recoganized countries of the world.
                </p>
            <a href="#" class="btn-text">more &rarr;</a> 
        </div>

        <div class="section-about__right">
            <div class="composition"> 
                <img src="images/composition01.jpg" alt="pic01" class="composition__photo composition__photo--p01"> 
                <img src="images/composition02.jpg" alt="pic02" class="composition__photo composition__photo--p02"> 
                <img src="images/composition03.jpg" alt="pic03" class="composition__photo composition__photo--p03"> 
            </div>
        </div>
        
    </section>