<section class="section-features">

        <div class="feature">
            <div class="feature-01">
                <div class="feature-box">
                    <!-- <svg class="feature-box__icon">
                        <use xlink:href="icons/basic_world.svg#Layer_1"></use>
                    </svg> -->
                    <div class="feature-box__icon">
                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                        width="64px" height="64px" viewBox="0 0 64 64" enable-background="new 0 0 64 64" xml:space="preserve">
                    <path fill="none" stroke="#1a7557" stroke-width="2" stroke-miterlimit="10" d="M32.001,0.887c17.184,0,31.113,13.929,31.112,31.113
                        C63.114,49.185,49.184,63.115,32,63.113C14.815,63.114,0.887,49.185,0.888,32.001C0.885,14.816,14.815,0.887,32.001,0.887z"/>
                    <line fill="none" stroke="#1a7557" stroke-width="2" stroke-miterlimit="10" x1="32" y1="1" x2="32" y2="63"/>
                    <line fill="none" stroke="#1a7557" stroke-width="2" stroke-miterlimit="10" x1="63" y1="32" x2="1" y2="32"/>
                    <path fill="none" stroke="#1a7557" stroke-width="2" stroke-miterlimit="10" d="M30,1c0,0-14,11-14,31s14,31,14,31"/>
                    <path fill="none" stroke="#1a7557" stroke-width="2" stroke-miterlimit="10" d="M34,1c0,0,14,11,14,31S34,63,34,63"/>
                    <path fill="none" stroke="#1a7557" stroke-width="2" stroke-miterlimit="10" d="M8,12c0,0,5,10,24,10s24-10,24-10"/>
                    <path fill="none" stroke="#1a7557" stroke-width="2" stroke-miterlimit="10" d="M8,52c0,0,5-10,24-10s24,10,24,10"/>
                    </svg>
                    </div>
                    <!-- <img class="feature-box__icon " src="icons/basic_world.svg" /> -->
                    <h3 class="heading-tertiary">
                        internationally trusted
                    </h3>
                    <p class="feature-box__text">
                        <em>Ashab Areef EST.</em> is internationally working with many Organizations in multiple countries and is highly appreciated for delivering as described.
                    </p>
                </div>
            </div>
            <div class="feature-02">
                <div class="feature-box">
                    <div class="feature-box__icon">
                        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                        width="64px" height="64px" viewBox="0 0 64 64" enable-background="new 0 0 64 64" xml:space="preserve">
                   <circle fill="none" stroke="#1a7557" stroke-width="2" stroke-miterlimit="10" cx="32" cy="35" r="28.292"/>
                   <polygon fill="none" stroke="#1a7557" stroke-width="2" stroke-linejoin="bevel" stroke-miterlimit="10" points="37,40 45,21 26,29 
                       19,47 "/>
                   <line fill="none" stroke="#1a7557" stroke-width="2" stroke-miterlimit="10" x1="26" y1="29" x2="37" y2="40"/>
                   <path fill="none" stroke="#1a7557" stroke-width="2" stroke-miterlimit="10" d="M36.9,7C36.965,6.677,37,6.342,37,6
                       c0-2.761-2.239-5-5-5s-5,2.239-5,5c0,0.342,0.035,0.677,0.1,1"/>
                   <line fill="none" stroke="#1a7557" stroke-width="2" stroke-miterlimit="10" x1="32" y1="7" x2="32" y2="12"/>
                   <line fill="none" stroke="#1a7557" stroke-width="2" stroke-miterlimit="10" x1="32" y1="58" x2="32" y2="63"/>
                   <line fill="none" stroke="#1a7557" stroke-width="2" stroke-miterlimit="10" x1="60" y1="35" x2="55" y2="35"/>
                   <line fill="none" stroke="#1a7557" stroke-width="2" stroke-miterlimit="10" x1="9" y1="35" x2="4" y2="35"/>
                   </svg>
                    </div>
                    <!-- <svg class="feature-box__icon">
                        <use xlink:href="icons/basic_compass.svg#Layer_1"></use>
                    </svg> -->
                    <!-- <img class="feature-box__icon " src="icons/basic_compass.svg" /> -->
                    <h3 class="heading-tertiary">
                        internationally trusted
                    </h3>
                    <p class="feature-box__text">
                        <em>Ashab Areef EST.</em> is internationally working with many Organizations in multiple countries and is highly appreciated for delivering as described.
                    </p>
                </div>
            </div>
            <div class="feature-03">
                <div class="feature-box">
                    <div class="feature-box__icon">
                        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                        width="64px" height="64px" viewBox="0 0 64 64" enable-background="new 0 0 64 64" xml:space="preserve">
                   <g>
                       <polygon fill="none" stroke="#1a7557" stroke-width="2" stroke-miterlimit="10" points="1,59 22,51 42,59 63,51 63,5 42,13 22,5 
                           1,13 	"/>
                       <g>
                           <line fill="none" stroke="#1a7557" stroke-width="2" stroke-miterlimit="10" x1="22" y1="5" x2="22" y2="51"/>
                       </g>
                       <g>
                           <line fill="none" stroke="#1a7557" stroke-width="2" stroke-miterlimit="10" x1="42" y1="13" x2="42" y2="59"/>
                       </g>
                   </g>
                   </svg>
                    </div>
                    <!-- <svg class="feature-box__icon">
                        <use xlink:href="icons/basic_map.svg#Layer_1"></use>
                    </svg> -->
                    <!-- <img class="feature-box__icon " src="icons/basic_map.svg" /> -->
                    <h3 class="heading-tertiary">
                        internationally trusted
                    </h3>
                    <p class="feature-box__text">
                        <em>Ashab Areef EST.</em> is internationally working with many Organizations in multiple countries and is highly appreciated for delivering as described.
                    </p>
                </div>
            </div>
            <div class="feature-04">
                <div class="feature-box">
                    <div class="feature-box__icon">
                        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                        width="64px" height="64px" viewBox="0 0 64 64" enable-background="new 0 0 64 64" xml:space="preserve">
                   <path fill="none" stroke="#1a7557#" stroke-width="2" stroke-miterlimit="10" d="M37.004,32.166c1.224,0.533,2.576,0.829,3.997,0.828
                       c3.271-0.003,6.175-1.576,7.998-4.006L60.99,16.98c1.255-1.673,1.998-3.751,1.996-6.002c-0.003-5.522-4.484-9.997-10.007-9.993
                       c-2.251,0.002-4.327,0.747-5.999,2.004L33.989,15.998c-1.768,1.805-2.997,4.277-2.996,7.003c0.001,1.424,0.3,2.778,0.837,4.003"/>
                   <path fill="none" stroke="#1a7557" stroke-width="2" stroke-miterlimit="10" d="M37.004,32.166"/>
                   <path fill="none" stroke="#1a7557" stroke-width="2" stroke-miterlimit="10" d="M31.831,27.004c0.053,0.121,0.107,0.24,0.166,0.358"
                       />
                   <path fill="none" stroke="#1a7557" stroke-width="2" stroke-miterlimit="10" d="M26.997,31.836c-1.225-0.535-2.577-0.831-3.998-0.83
                       c-2.251,0.002-4.328,0.747-5.999,2.004L4.01,46.02c-1.768,1.804-2.997,4.276-2.995,7.002c0.003,5.522,4.484,9.997,10.007,9.993
                       c3.271-0.003,6.174-1.576,7.997-4.006L31.01,47.001c1.255-1.673,1.998-3.751,1.996-6.002c-0.001-1.422-0.299-2.774-0.835-3.998"/>
                   <line fill="none" stroke="#1a7557" stroke-width="2" stroke-miterlimit="10" x1="23.006" y1="41.006" x2="40.994" y2="22.994"/>
                   </svg>
                    </div>
                    <!-- <svg class="feature-box__icon">
                        <use xlink:href="icons/basic_link.svg#Layer_1"></use>
                    </svg> -->
                    <!-- img class="feature-box__icon " src="icons/basic_link.svg" /> -->
                    <h3 class="heading-tertiary">
                        internationally trusted
                    </h3>
                    <p class="feature-box__text">
                        <em>Ashab Areef EST.</em> is internationally working with many Organizations in multiple countries and is highly appreciated for delivering as described.
                    </p>	
                </div>
            </div>
        </div>
    </section>