<section class="gall" id="gall">
    <div class="gall__head">
        <h1 class="heading-01">Gallary</h1>
    </div>
    <div class="gall__content">
        <div class="gall__img gall__arabicGum--img-01">
            <a class="btn btn__01 btn__Deanimate btn__animate btn--colorLogo" href="#popup-01">FullScreen <br> Preview</a>
        </div>
        <div class="gall__img gall__arabicGum--img-02">
            <a class="btn btn__02 btn__Deanimate btn__animate btn--colorLogo" href="#popup-02">FullScreen <br> Preview</a>
        </div>
        <div class="gall__img gall__arabicGum--img-03">
            <a class="btn btn__03 btn__Deanimate btn__animate btn--colorLogo" href="#popup-03">FullScreen <br> Preview</a>
        </div>
        <div class="gall__img gall__arabicGum--img-04">
            <a class="btn btn__04 btn__Deanimate btn__animate btn--colorLogo" href="#popup-04">FullScreen <br> Preview</a>
        </div>
        <div class="gall__img gall__arabicGum--img-05">
            <a class="btn btn__05 btn__Deanimate btn__animate btn--colorLogo" href="#popup-05">FullScreen <br> Preview</a>
        </div>
    </div>
</section>
<div class="popup popup-01" id="popup-01">
    <div class="popup__content popup__content-01"><a href="#gall" class="x-close"><span class="cross"></span></a>
        <span><img class="popup__img" src="images/gall-arabicGum-01.jpg" alt=""></span>
    </div>
</div>
<div class="popup popup-02" id="popup-02">
    <div class="popup__content popup__content-02"><a href="#gall" class="x-close"><span class="cross"></span></a>
        <span><img class="popup__img" src="images/gall-arabicGum-02.jpg" alt=""></span>
    </div>
</div>
<div class="popup popup-03" id="popup-03">
    <div class="popup__content popup__content-03"><a href="#gall" class="x-close"><span class="cross"></span></a>
        <span><img class="popup__img" src="images/gall-arabicGum-03.jpg" alt=""></span>
    </div>
</div>
<div class="popup popup-04" id="popup-04">
    <div class="popup__content popup__content-04"><a href="#gall" class="x-close"><span class="cross"></span></a>
        <span><img class="popup__img" src="images/gall-arabicGum-04.jpg" alt=""></span>
    </div>
</div>
<div class="popup popup-05" id="popup-05">
    <div class="popup__content popup__content-05"><a href="#gall" class="x-close"><span class="cross"></span></a>
        <span><img class="popup__img" src="images/gall-arabicGum-05.jpg" alt=""></span>
    </div>
</div>