<header class="header">
    
    <div class="slider slideShow">
        <div><span class="slideShow__img sesame-slideShow__img-01"></span></div>
        <div><span class="slideShow__img sesame-slideShow__img-02"></span></div>
        <div><span class="slideShow__img sesame-slideShow__img-03"></span></div>
        
    </div>
    
    <div class="company-name"><h1 class="main-heading">sesame seeds</h1></div>
    <div class="news">
        <div class="news__heading"><h2 class="align-center heading-02">news</h2></div>
        <div class="news__list">
            <div class="news__list--slider">
                <div>
                    <div>
                            <p class="news_script">this is news 01</p>
                    </div>
                    
                </div>
                <div>
                    <div>
                            <p class="news_script">this is news 02 Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum quos facilis accusamus magni, quidem consequuntur repellat quae voluptas dolorum libero.</p>
                    </div>
                </div>
                <div>
                    <div>
                            <p class="news_script">this is news 03 Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio rem dolore maiores, quaerat ratione aliquid assumenda provident ex iusto, quisquam quam labore quae culpa .</p>
                    </div>
                </div>
                <div>
                    <div>
                            <p class="news_script">this is news 04 Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam, velit praesentium. Ullam tenetur adipisci voluptatem possimus explicabo cumque!</p>
                    </div>
                </div>
                <div>
                    <div>
                            <p class="news_script">this is news 05</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>