<section class="section-products">
    <div class="products">
        <div class="products-text">
            <h2 class="heading-02"> 
                Our High Quality
            </h2>
            <h1 class="heading-01">
                Products
            </h1>
        </div>
        <section class="product-slide">
            <div>
                <div class="products__01 gap-lef-right">
                    <div class="card outline">
                        <div class="card__side card__side--front">
                            <img src="images/bag-chickpea.jpg" alt="ChickPea" class="card__side--front-img">
                            <div class="card__side--front-text">ChickPeas</div>
                        </div>
                        <div class="card__side card__side--back">
                            <img src="images/card-chickpeas-bg.jpg" alt="ChickPea" class="card__side--back-img">
                            <a href="chickpeas.html" class="card__side--back-text">Learn more</a>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="products__02 gap-lef-right">
                    <div class="card outline">
                        <div class="card__side card__side--front">
                            <img src="images/bag-gum-arabic.jpg" alt="ChickPea" class="card__side--front-img">
                            <div class="card__side--front-text">Arabic Gum</div>
                        </div>
                        <div class="card__side card__side--back">
                            <img src="images/card-arabicgum-bg.jpg" alt="ChickPea" class="card__side--back-img">
                            <a href="arabicGum.html" class="card__side--back-text">Learn more</a>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="products__03 gap-lef-right">
                    <div class="card outline">
                        <div class="card__side card__side--front">
                            <img src="images/bag-frankincense.jpg" alt="ChickPea" class="card__side--front-img">
                            <div class="card__side--front-text">frankincense</div>
                        </div>
                        <div class="card__side card__side--back">
                            <img src="images/card-arabicgum-bg.jpg" alt="ChickPea" class="card__side--back-img">
                            <div class="card__side--back-text">Learn more</div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="products__04 gap-lef-right">
                    <div class="card outline">
                        <div class="card__side card__side--front">
                            <img src="images/bg-hibiscus.jpg" alt="ChickPea" class="card__side--front-img">
                            <div class="card__side--front-text">hibiscus flower <span class="subscript">dry</span></div>
                        </div>
                        <div class="card__side card__side--back">
                            <img src="images/card-arabicgum-bg.jpg" alt="ChickPea" class="card__side--back-img">
                            <div class="card__side--back-text">Learn more</div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="products__05 gap-lef-right">
                    <div class="card outline">
                        <div class="card__side card__side--front">
                            <img src="images/bag-chickpea.jpg" alt="ChickPea" class="card__side--front-img">
                            <div class="card__side--front-text">ChickPeas</div>
                        </div>
                        <div class="card__side card__side--back">
                            <img src="images/card-arabicgum-bg.jpg" alt="ChickPea" class="card__side--back-img">
                            <div class="card__side--back-text">Learn more</div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="products__06 gap-lef-right">
                    <div class="card outline">
                        <div class="card__side card__side--front">
                            <img src="images/bag-peanuts.jpg" alt="ChickPea" class="card__side--front-img">
                            <div class="card__side--front-text">peanuts</div>
                        </div>
                        <div class="card__side card__side--back">
                            <img src="images/card-arabicgum-bg.jpg" alt="ChickPea" class="card__side--back-img">
                            <div class="card__side--back-text">Learn more</div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="products__07 gap-lef-right">
                    <div class="card outline">
                        <div class="card__side card__side--front">
                            <img src="images/bag-watermelon.jpg" alt="ChickPea" class="card__side--front-img">
                            <div class="card__side--front-text">Watermelon</div>
                        </div>
                        <div class="card__side card__side--back">
                            <img src="images/card-arabicgum-bg.jpg" alt="ChickPea" class="card__side--back-img">
                            <div class="card__side--back-text">Learn more</div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="products__08 gap-lef-right">
                    <div class="card  outline">
                        <div class="card__side card__side--front">
                            <img src="images/bag-chickpea.jpg" alt="ChickPea" class="card__side--front-img">
                            <div class="card__side--front-text">ChickPeas</div>
                        </div>
                        <div class="card__side card__side--back">
                            <img src="images/card-arabicgum-bg.jpg" alt="ChickPea" class="card__side--back-img">
                            <div class="card__side--back-text">Learn more</div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
        <!-- <div class="products-text">
            <h2 class=""> 
                Our High Quality
            </h2>
            <h1 class="">
                Products
            </h1>
        </div>
        <div class="products">
            <div class="row01">
                <div class="products__01">
                    <div class="card outline">
                        <div class="card__side card__side--front">
                            <img src="images/bag-chickpea.jpg" alt="ChickPea" class="card__side--front-img">
                            <div class="card__side--front-text">ChickPeas</div>
                        </div>
                        <div class="card__side card__side--back">
                            <img src="images/card-arabicgum-bg.jpg" alt="ChickPea" class="card__side--back-img">
                            <div class="card__side--back-text">Learn more</div>
                        </div>
                    </div>
                </div>
                <div class="products__02">
                    <div class="card outline">
                        <div class="card__side card__side--front">
                                <img src="images/bag-gum-arabic.jpg" alt="ChickPea" class="card__side--front-img">
                                <div class="card__side--front-text">Arabic Gum</div>
                        </div>
                        <div class="card__side card__side--back">
                                <img src="images/card-arabicgum-bg.jpg" alt="ChickPea" class="card__side--back-img">
                                <div class="card__side--back-text">Learn more</div>
                        </div>
                    </div>
                </div>
                <div class="products__03">
                    <div class="card outline">
                        <div class="card__side card__side--front">
                                <img src="images/bag-frankincense.jpg" alt="ChickPea" class="card__side--front-img">
                                <div class="card__side--front-text">frankincense</div>
                        </div>
                        <div class="card__side card__side--back">
                                <img src="images/card-arabicgum-bg.jpg" alt="ChickPea" class="card__side--back-img">
                                <div class="card__side--back-text">Learn more</div>
                        </div>
                    </div>
                </div>
                <div class="products__04">
                    <div class="card outline">
                        <div class="card__side card__side--front">
                                <img src="images/bg-hibiscus.jpg" alt="ChickPea" class="card__side--front-img">
                                <div class="card__side--front-text">hibiscus flower <span class="subscript">dry</span></div>
                        </div>
                        <div class="card__side card__side--back">
                                <img src="images/card-arabicgum-bg.jpg" alt="ChickPea" class="card__side--back-img">
                                <div class="card__side--back-text">Learn more</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row02">
                <div class="products__05">
                    <div class="card outline">
                        <div class="card__side card__side--front">
                                <img src="images/bag-chickpea.jpg" alt="ChickPea" class="card__side--front-img">
                                <div class="card__side--front-text">ChickPeas</div>
                        </div>
                        <div class="card__side card__side--back">
                                <img src="images/card-arabicgum-bg.jpg" alt="ChickPea" class="card__side--back-img">
                                <div class="card__side--back-text">Learn more</div>
                        </div>
                    </div>
                </div>
                <div class="products__06">
                    <div class="card outline">
                        <div class="card__side card__side--front">
                                <img src="images/bag-peanuts.jpg" alt="ChickPea" class="card__side--front-img">
                                <div class="card__side--front-text">peanuts</div>
                        </div>
                        <div class="card__side card__side--back">
                                <img src="images/card-arabicgum-bg.jpg" alt="ChickPea" class="card__side--back-img">
                                <div class="card__side--back-text">Learn more</div>
                        </div>
                    </div>
                </div>
                <div class="products__07">
                    <div class="card outline">
                        <div class="card__side card__side--front">
                                <img src="images/bag-watermelon.jpg" alt="ChickPea" class="card__side--front-img">
                                <div class="card__side--front-text">Watermelon</div>
                        </div>
                        <div class="card__side card__side--back">
                                <img src="images/card-arabicgum-bg.jpg" alt="ChickPea" class="card__side--back-img">
                                <div class="card__side--back-text">Learn more</div>
                        </div>
                    </div>
                </div>
                <div class="products__08 outline">
                    <div class="card">
                        <div class="card__side card__side--front">
                                <img src="images/bag-chickpea.jpg" alt="ChickPea" class="card__side--front-img">
                                <div class="card__side--front-text">ChickPeas</div>
                        </div>
                        <div class="card__side card__side--back">
                                <img src="images/card-arabicgum-bg.jpg" alt="ChickPea" class="card__side--back-img">
                                <div class="card__side--back-text">Learn more</div>
                        </div>
                    </div>
                </div>	
            </div>
        </div> -->
    </section>
<!--     <section class="section-products-mobile">
            <div class="products-tabPort" style=" display: none; ">
                    <div class="products__01">
                        <div class="card outline">
                            <div class="card__side card__side--front">
                                <img src="images/bag-chickpea.jpg" alt="ChickPea" class="card__side--front-img">
                                <div class="card__side--front-text">ChickPeas</div>
                            </div>
                            <div class="card__side card__side--back">
                                <img src="images/card-arabicgum-bg.jpg" alt="ChickPea" class="card__side--back-img">
                                <div class="card__side--back-text">Learn more</div>
                            </div>
                        </div>
                    </div>
                    <div class="products__02">
                        <div class="card outline">
                            <div class="card__side card__side--front">
                                    <img src="images/bag-gum-arabic.jpg" alt="ChickPea" class="card__side--front-img">
                                    <div class="card__side--front-text">Arabic Gum</div>
                            </div>
                            <div class="card__side card__side--back">
                                    <img src="images/card-arabicgum-bg.jpg" alt="ChickPea" class="card__side--back-img">
                                    <div class="card__side--back-text">Learn more</div>
                            </div>
                        </div>
                    </div>
                    <div class="products__03">
                        <div class="card outline">
                            <div class="card__side card__side--front">
                                    <img src="images/bag-frankincense.jpg" alt="ChickPea" class="card__side--front-img">
                                    <div class="card__side--front-text">frankincense</div>
                            </div>
                            <div class="card__side card__side--back">
                                    <img src="images/card-arabicgum-bg.jpg" alt="ChickPea" class="card__side--back-img">
                                    <div class="card__side--back-text">Learn more</div>
                            </div>
                        </div>
                    </div>
                    <div class="products__04">
                        <div class="card outline">
                            <div class="card__side card__side--front">
                                    <img src="images/bg-hibiscus.jpg" alt="ChickPea" class="card__side--front-img">
                                    <div class="card__side--front-text">hibiscus flower <span class="subscript">dry</span></div>
                            </div>
                            <div class="card__side card__side--back">
                                    <img src="images/card-arabicgum-bg.jpg" alt="ChickPea" class="card__side--back-img">
                                    <div class="card__side--back-text">Learn more</div>
                            </div>
                        </div>
                    </div>
                    <div class="products__05">
                        <div class="card outline">
                            <div class="card__side card__side--front">
                                    <img src="images/bag-chickpea.jpg" alt="ChickPea" class="card__side--front-img">
                                    <div class="card__side--front-text">ChickPeas</div>
                            </div>
                            <div class="card__side card__side--back">
                                    <img src="images/card-arabicgum-bg.jpg" alt="ChickPea" class="card__side--back-img">
                                    <div class="card__side--back-text">Learn more</div>
                            </div>
                        </div>
                    </div>
                    <div class="products__06">
                        <div class="card outline">
                            <div class="card__side card__side--front">
                                    <img src="images/bag-peanuts.jpg" alt="ChickPea" class="card__side--front-img">
                                    <div class="card__side--front-text">peanuts</div>
                            </div>
                            <div class="card__side card__side--back">
                                    <img src="images/card-arabicgum-bg.jpg" alt="ChickPea" class="card__side--back-img">
                                    <div class="card__side--back-text">Learn more</div>
                            </div>
                        </div>
                    </div>
                    <div class="products__07">
                        <div class="card outline">
                            <div class="card__side card__side--front">
                                    <img src="images/bag-watermelon.jpg" alt="ChickPea" class="card__side--front-img">
                                    <div class="card__side--front-text">Watermelon</div>
                            </div>
                            <div class="card__side card__side--back">
                                    <img src="images/card-arabicgum-bg.jpg" alt="ChickPea" class="card__side--back-img">
                                    <div class="card__side--back-text">Learn more</div>
                            </div>
                        </div>
                    </div>
                    <div class="products__08 outline">
                        <div class="card">
                            <div class="card__side card__side--front">
                                    <img src="images/bag-chickpea.jpg" alt="ChickPea" class="card__side--front-img">
                                    <div class="card__side--front-text">ChickPeas</div>
                            </div>
                            <div class="card__side card__side--back">
                                    <img src="images/card-arabicgum-bg.jpg" alt="ChickPea" class="card__side--back-img">
                                    <div class="card__side--back-text">Learn more</div>
                            </div>
                        </div>
                    </div>
                </div>
    </section> -->