<section class="quality">
    <div class="quality__head"><h1 class="heading-01">Quality Assurance</h1></div>
    <div class="quality__content">
        <div class="qualities"><h2 class="heading-03">Quality</h2>
        <p class="quality-script">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Et deleniti necessitatibus vitae harum vero incidunt aperiam commodi laborum perferendis eius? Quia provident saepe laudantium libero temporibus fugit, inventore numquam laborum.</p></div>
        <div class="qualities"><h2 class="heading-03">Quality</h2>
        <p class="quality-script">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Et deleniti necessitatibus vitae harum vero incidunt aperiam commodi laborum perferendis eius? Quia provident saepe laudantium libero temporibus fugit, inventore numquam laborum.</p></div>
        <div class="qualities"><h2 class="heading-03">Quality</h2>
        <p class="quality-script">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Et deleniti necessitatibus vitae harum vero incidunt aperiam commodi laborum perferendis eius? Quia provident saepe laudantium libero temporibus fugit, inventore numquam laborum.</p></div>
        <div class="qualities"><h2 class="heading-03">Quality</h2>
        <p class="quality-script">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Et deleniti necessitatibus vitae harum vero incidunt aperiam commodi laborum perferendis eius? Quia provident saepe laudantium libero temporibus fugit, inventore numquam laborum.</p></div>
        <div class="qualities"><h2 class="heading-03">Quality</h2>
        <p class="quality-script">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Et deleniti necessitatibus vitae harum vero incidunt aperiam commodi laborum perferendis eius? Quia provident saepe laudantium libero temporibus fugit, inventore numquam laborum.</p></div>
        <div class="qualities"><h2 class="heading-03">Quality</h2>
        <p class="quality-script">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Et deleniti necessitatibus vitae harum vero incidunt aperiam commodi laborum perferendis eius? Quia provident saepe laudantium libero temporibus fugit, inventore numquam laborum.</p></div>
    </div>
</section>