<section class="select">
    <div class="select__head">
        <h1 class="heading-01"> Experts in Product Selection</h1>
    </div>
    <div class="select__content">
        <!-- <div class="select__text"> -->
            <img class="select__content-img" src="images/sesame-select.jpg" alt="image">    
            <p class="select__content-text">
                    
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui quos eveniet soluta excepturi minima obcaecati ducimus atque ipsa, sed non laudantium iusto nobis nesciunt, cupiditate voluptatibus quidem laboriosam dicta dolores. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ex, quas autem, nam, eum odit eaque ipsamLorem, ipsum dolor sit amet consectetur adipisicing elit. Ex, quas autem, nam, eum odit eaque ipsamLorem, ipsum dolor sit amet consectetur adipisicing elit. Ex, quas autem, nam, eum odit eaque ipsam  
                
            </p>
        <!-- </div>
        <div class="select__img"> -->
            
        <!-- </div> -->
    </div>
</section>