<section class="section-ship">
        <div class="ship">
            <div class="ship__heading">
                <h1 class="heading-primary--main">Secure and Preserved Quality</h1>
                <h1 class="heading-secondary">Shipment</h1>
            </div>
            <div class="ship__group">
                <div class="ship__group--img01">
                    <div class="ship__group--img01-container">
                            <img class="ship__group--img01-container-img" src="images/ShippingAtPort@0,5x.jpg" alt="">
                    </div>
                    
                </div>
                <div class="ship__group--img02">
                    <div class="ship__group--img02-container">
                            <img class="ship__group--img02-container-img" src="images/LoadingShip.jpg" alt="">
                    </div>
                    
            
                </div>
                <div class="ship__group--text01">Text 01</div>
                <div class="ship__group--text02">text 02</div>
                
            </div>
        </div>
        

        
    </section>