<section class="section-storage">
        <div class="head row left">
            <h1 class="">international Standard's</h1>
        </div>
        <div class="row center">
            <h1 class="">Warehouse</h1>
        </div>
        <div class="row right">
            <h1 class="">That preserves your product</h1>
        </div>
        <div class="storage">
            <div class="storage__text">
                <div class="text">Best Storage</div>
            </div>
            <div class="storage__image">
                <div class="container">
                    
                </div>
            </div>
        </div>
        
    </section>