<section class="section-storage">
        <div class="">
            <h1 class="heading-02 align-center">international Standard's</h1>
        </div>
        <div class="">
            <h1 class="heading-01 align-center">Warehouse</h1>
        </div>
        <div class="">
            <h1 class="heading-02 align-center">That preserves your product</h1>
        </div>
        <div class="storage">
            <div class="storage__text">
                <div class="text">
                    <p class="gap-top-bottom justify-text">
                        We provide extensive multipurpose warehousing and storage facilities at all of our office locations including extra facilities strategically located worldwide.
                    </p>
                    <p class="gap-top-bottom justify-text">
                        Our warehouse facilities are suitably equipped for your needs. Whether you require a large buffer, contingency store, transit store, and a facility to warehouse spares or to utilise for fabrication. Cutting edge inventory systems provide us the ability to dispatch urgent items to anywhere in the world.
                    </p>
                    <p class="gap-top-bottom justify-text">
                        Our logistic experts can integrate our warehousing services with distribution and other value added services, including labelling, order management, inventory planning and management, picking and packing, supporting your supply chain management, whether it be it consumables or heavy industry.
                    </p>
                    
                    Best Storage
                </div>
            </div>
            <div class="storage__image">
                <div class="container">
                    
                </div>
            </div>
        </div>
        
    </section>